.l1 {
    color: #222222;
    font-size: 16px ;
}
.u1 {
    color: #555555;
    font-size: 14px;
}

.u2 {
    color: #111111;
    font-size: 13px;
    word-spacing: 3px;
    
}
.flex {
    display: flex;
    justify-content: space-between;
}

.f1{
    margin-top: 20px;
    margin-left: 10px;
}

.f2{
    margin-top: 20px;
    margin-left: -450px;
}

.f3{
    margin-top: 20px;
    margin-left: -450px;
}

.f4{
    margin-top: 20px;
    margin-left: -450px;
}

.f5{
    margin-top: 20px;
    margin-left: -450px;
}

.f6{
    margin-top: 20px;
    margin-left: -450px;
}

.pk {
    
    margin-left: 20px;
}

.ph {
    display: flex;
    justify-content: space-between;
    margin-left: -16px;
    margin-top: 50px;
}

.f7{
    margin-top: 20px;
    margin-right: 100px;
}

.pk2{
    margin-top: 50px;
}







